header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: rgb(30, 194, 52);
}
header h1 {
  margin: 10px;
  color: white;
}
.btn-cart {
  width: 180px;
  height: 40px;
  background-color: honeydew;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.btn-cart .badge {
  background-color: green;
  border-radius: 10px;
  color: white;
  padding: 1px 10px;
  margin-left: 5px;
}
.shopping-cart {
  max-width: 700px;
  width: 100%;
  margin: 10px auto;
  border-radius: 10px;
}
.product {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 200px 1fr 200px 1fr 30px;
  align-items: center;
}
.product .product-image img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}
.product .product-desc {
  margin-left: 20px;
}

.quantity input {
  width: 20px;
  text-align: center;
  font-size: 16px;
}